<div>

    <a class="btn btn-primary" data-toggle="modal" data-target="#newIssue"><span class="glyphicon glyphicon-plus"></span> New Issue </a>

	<div>
		<h1 class="page-header">All Issues</h1>
	</div>

    <table class="table">
        <thead>
        	<tr>
        		<th><span class="pull-right">#</span></th>
        		<th>Title</th>
        		<th>Product Version</th>
        		<th>Status</th>
        		<th>Asignee</th>
        	</tr>
       	</thead>
        <tr ng-repeat="issue in issues">
            <td><span class="pull-right">{{issue.number}}</span></td>
            <td><a ng-href="#/issues/{{issue.number}}">{{issue.title}}</a></td>
            <td>{{issue.occurredIn.product}} {{issue.occurredIn.version}}</td>
            <td><span class="label {{issue.status}}">{{issue.status}}</span></td> 
            <td>{{issue.assignee}}</td>
        </tr>
    </table>

<!-- Button trigger modal -->

<!-- Modal -->
<div ng-controller="NewIssueCtrl" class="modal fade" id="newIssue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Create new Issue</h3>
      </div>
      <div class="modal-body">
		<form class="form form-horizontal">
		  <div class="form-group"></div>
		  <div class="form-group">
		    <label class="col-sm-3 control-label" for="issue_status">Title:</label>
			<div class="col-sm-8">
				<input class="form-control" ng-model="newIssue.title">			
			</div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-3 control-label" for="issue_status">Occurred In:</label>
			<div class="col-sm-8">
				<select ng-options="(version.product + ' ' + version.version) for version in versions" class="form-control" ng-model="newIssue.occuredIn">
				</select> 						
			</div>
		  </div>
		</form>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="createIssue()">Create</button>
      </div>
    </div>
  </div>
</div>

</div>